form {
    padding-left: 20px;
}

form input, select {
    margin-top: 10px;
    padding: 5px 5px 5px 5px;
}

.submit {
    padding: 10px 50px 10px 50px;
    margin-top: 20px;
}

.data-button {
    padding: 10px 40px 10px 40px;
    margin-top: 20px;
    margin-left: 20px;
}